###############
# Git ignore  #
###############
 
*.pyc
*.bak
*.class
*.jar
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.buildpath
.classpath
.DS_Store
.loadpath
.metadata
.project
.vscode
.settings
.settings/
/bin/
/build/
/dist/
/log/
/data/
bin/**
Desktop.ini
local.properties
target/
Thumbs.db
tmp/**
tmp/**/*
